azure-storage-blob==12.20.0
dask
geopandas
jinja2
jupyter-black
jupytext
matplotlib
pandas
plotly
psycopg2-binary==2.9.10
pyarrow
python-dotenv
requests
rioxarray
scipy
seaborn
shapely
sqlalchemy==2.0.36
tqdm
